/* Nav Section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 119px;
    padding: 23.5px 115.5px;
    background-color: white;
}

.nav-portals {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 5px;
}

.nav-portals li a {
   text-decoration: none;
   color: #575757;
}

#nav-button {
    background-color: #1D4ED8;
    color: white;
    padding: 12px 41.5px;
    border-radius: 10px;
}

/* Banner Section */
#banner-section{
    display: flex;
    align-items: center;
    background-image: url('./assets/banner.jpg');
    height: 871px;
    width: 100%;


}
#banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    text-align: center;
    gap: 5px;
}
#banner-heading{
    margin-bottom: 16px;
    font-size: 80px;
}
#banner-para{
    margin-bottom: 431px;
    font-size: 22px;
    color: #FFFFFF;
}
#banner-button{
    font-size: 24px;
    padding: 24px 62px;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
}